html, body {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-flow: column;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

header {
    background: #d92505;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    color: white;
    display: flex;
    align-content: center;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0 2px 4px #00000012;
    z-index: 10;
}

.header--block {
    border-left: 1px solid #FFFFFF33;
    align-items: center;
    display: flex;
    height: 100%;
    box-sizing: border-box;
    padding-left: 1.15em;
    padding-right: 1.15em;
    overflow: hidden;
    -o-border-image: linear-gradient(to bottom, transparent, transparent 20%, #FFFFFF33 20%, #FFFFFF33 80%, transparent 80%) 0 100%;
    border-image: linear-gradient(to bottom, transparent, transparent 20%, #FFFFFF33 20%, #FFFFFF33 80%, transparent 80%) 0 100%;
}

.header--block:first-child {
    border: none;
    flex-shrink: 0;
}

.header--block:last-child {
    margin-left: auto;
}

header a {
    color: white;
    text-decoration: none;
}

.logo {
    height: 30px;
}

h1 {
    font-size: 20px;
    font-weight: 200;
    text-overflow: ellipsis;
    break-after: avoid;
    white-space: nowrap;
    overflow: hidden;
}

h2 {
    margin-block: 0.5em;
    display: inline-flex;
    gap: 0.5em;
    align-items: center;
    font-size: 1.25em;
}

h2>svg {
    fill: #d92505;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    transition: all 1s;
}

canvas {
    transition: all 1s;
}

main {
    display: flex;
    position: relative;
    flex-grow: 1;
    color: #56585c;
}

a {
    color: #d92505;
}

.icon-wrapper {
    display: flex;
    padding: 0.25em;
    background: #d92505;
    color: white;
    border-radius: 50%;
}


.modal {
    position: absolute;
    display: grid;
    overflow: hidden;
    background: #f8f7f7;
    grid-auto-rows: auto 1fr;
    border-radius: 7px;
    top: 2em;
    right: 0.5em;
    width: 350px;
    max-width: 100%;
    padding: 0;
    box-sizing: border-box;
    font-weight: 200;
    max-height: calc(100% - 4em);
    animation: slideModal 0.4s forwards;
    box-shadow: #00000012 0 2px 4px;
    border: solid 1px #00000012;
}

.modal-header {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    border-bottom: 1px solid #00000012;
    width: 100%;
    padding: 0.5em 1em;
    gap: 7px;
}

.modal-header > h2 {
    margin: 0;
    font-weight: 200;
}

.modal-header > * {
    display: flex;
}

.modal-close {
    margin-left: auto;
    margin-right: -0.35em;
    padding: 0.35em;
    border-radius: 7px;
    cursor: pointer;
}

.modal-close:hover {
    background: #fff;
}

.modal-content {
    box-sizing: border-box;
    padding: 0.5em 1em;
    height: 100%;
    overflow: auto;
}

nav > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-size: 12px;
    cursor: pointer;
    padding: 0.45em;
    border-radius: 7px;
    font-weight: 200;
}

nav > div:hover {
    background: rgba(255, 255, 255, 0.08);
}

@-webkit-keyframes slideModal {
    0% { opacity: 0}
    100% { opacity: 1}
}